html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

body{
    padding-left: 15rem;
    background: url(../images/1aa2d468b61379d020191479b091a2a.jpg);
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:pink;
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row-1 .skills{
    flex:1 1 40rem;
}

.about .row-1 .skills .progress{
    padding:1rem 0;
}

.about .row-1 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:#111;
    font-weight: 400;
}

.about .row-1 .skills .progress .bar{
    width:100%;
    background:#ccc;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.about .row-1 .skills .progress .bar span{
    display:block;
    height:100%;
    background:pink;
    border-radius: 50rem;
}

.about .row-1 .skills .progress:nth-child(1) .bar span{
    width:95%;
}

.about .row-1 .skills .progress:nth-child(2) .bar span{
    width:80%;
}

.about .row-1 .skills .progress:nth-child(3) .bar span{
    width:75%;
}

.about .row-1 .skills .progress:nth-child(4) .bar span{
    width:70%;
}

.about .row-1 .skills .progress:nth-child(5) .bar span{
    width:65%;
}

.about .row-1 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row-1 .box-container .box{
    flex:1 1 15rem;
    background:#fff;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .box-container .box h3{
    color:pink;
    font-size: 3rem;
}


